{% extends 'base.html' %}

{% block title %}Add Book {% endblock %}

{% block content %}
<div>
    <h1>Add Book</h1>
    <form action="{% url 'add_book' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="author">Title:</label>
        <p><input type="text" name=title></p>

        <label for="author">Pages:</label>
        <p><input type="text" name=pages></p>

        <label for="author">Publication:</label>
        <p><input type="text" name="pub"></p>

        <label for="author">Year:</label>
        <p><input type="text" name="year"></p>

        <label for="author">Description:</label>
        <p><textarea name="desc"></textarea></p>

        <label for="front_cover">Front cover:</label>
        <p><input id="front_cover" type="file" name="f_cover"></p>

        <label for="back_cover">Back cover:</label>
        <p><input id="back_cover" type="file" name="b_cover"></p>

        <p>
            <label for="author">Choose author:</label>
            <select id="author" name="author">
                {% for auth in authors %}
                <option value="{{ auth.id }}">{{ auth }}</option>
                {% endfor %}
            </select>
        </p>


        <p>
            <label for="language">Choose Language:</label>
            <select id="language" name="lang">
                {% for lang in languages %}
                <option value="{{ lang.id }}">{{ lang }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="genre">Choose Genre:</label>
            <select id="genre" name="genre">
                {% for gen in genres %}
                <option value="{{ gen.id }}">{{ gen }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="Add">
    </form>
</div>

{% endblock %}