{% extends 'base.html' %}

{% block title %}{{ book.title }} {% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{ book.title }}</h1>
    <h3><small>{{ book.authors.all|join:", " }}</small></h3>
    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="{% if book.front_cover %} {{ book.front_cover.url }} {% endif %}" alt=""
                width="400" height="auto">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Description</h3>
            <p>{{ book.description }}</p>
            <h3 class="my-3">Book Details</h3>
            <ul>
                <li>Pages: {{ book.pages }}</li>
                <li>Publisher: {{ book.publisher.name }}</li>
                <li>Year: {{ book.year }}</li>
                <li>Language: {{ book.language }}</li>
                {% if book.isbn %}
                <li>ISBN: {{ book.isbn }}</li>
                {% endif %}
                {% if book.isbn_13 %}
                <li>ISBN 13: {{ book.isbn_13 }}</li>
                {% endif %}
            </ul>
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Books</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


{% endblock %}